*{
  padding: 0px;
  margin: 0px;

}
body{
  font-family: monospace;
}
header{
  display: flex;
  flex-direction: row;
  background: var(--dark-primary, #2A254B);
  justify-content: center;
  align-items: center;
  gap: 1rem;



}
header h5 {
  color: var(--white, #FFF);
font-family: monospace;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding: 1rem;
}
.icons img{
  width: 1rem;
}
.mainheader{
  display: flex;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: center;
  margin-top: 2rem;
  align-items: center;
}
.mainheader ul{
  list-style-type: none;
  display: flex;
  gap: 3rem;
  
}
.mainheader ul li a {
  color: #726E8D;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  text-decoration: none;
}
.mainheader h4{
  color: #22202E;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.icons{
  display: flex;
  gap: 1rem;
}
.imgLeft{
  display: flex;
  margin: 2rem;
}
.imgLeft .textContiner{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1rem;
  justify-content: space-between;
}
.imgLeft .textContiner h1{
  color: #2A254B;

font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.imgLeft .textContiner h3{
  color: #12131A;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.imgLeft .textContiner p{
  color: #505977;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.imgLeft .textContiner ul{
  padding: 27px;
}
.imgLeft .textContiner ul li {
  color: #505977;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.sntax h3{
  color: #2A254B;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-bottom: 2rem;
}
.sntax table{
  padding: 16px;
}

.sntax table td{
  padding: 16px;
  color: #505977;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.ddd{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
  justify-content: space-between;

}
.ddd button{
  display: flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
background: var(--dark-primary, #2A254B);
color: white;
border: none;
}
.mode {
  background-color: #F9F9F9;
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  gap: 2rem;
  border-radius: 10px;
}
.mode .min{
  opacity: 0.5;
}
h1{
  margin: 0rem 2rem;
  color: #2A254B;

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 2rem;
}

.listing{
  display: flex;
  gap: 1rem;
  margin: 0rem 2rem;
  flex-wrap: wrap;
}
.card  h3{
  color: var(--dark-primary, #2A254B);

/* Headings / H4 */
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */

}
.card  p{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
  
}
.button{
  display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
background: var(--light-grey, #F9F9F9);
border: none;
position: relative;
left: 45%;
border-radius: 12px;
margin-bottom: 4rem;
margin-top: 4rem;
}
.button:hover{
  cursor: pointer;
  opacity: 0.7;
  border: 2px dotted rgb(68, 66, 66);
  transition: 0.5s;
  
}
/* features */
.features {
  
  margin-left: 3rem;
  margin-right: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 9rem;


}
.features .itemFeautures h3{
  color: var(--dark-primary, #2A254B);

/* Headings / H4 */

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 28px */
}
.features .itemFeautures p{
  color: var(--dark-primary, #2A254B);

/* Body/Medium */
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.features .itemFeautures{
  width: 23%;
}
.emailSignup{
  border: 3px dotted #1514145e;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6rem;
    margin-top: 2rem;
    width: 70%;
    margin-left: 11rem;
    background-color: white;
    padding-bottom: 4rem;
    margin-bottom: 7rem;
}
.emailSignup h1{
  color: var(--dark-primary, #2A254B);
text-align: center;

/* Headings / H1 */

font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 50.4px */
}
.emailSignup p {
  color: var(--dark-primary, #2A254B);
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.emailSignup .butt{
  display: flex;
  gap: 0rem;
}
.emailSignup .butt input{
  border: none;
  display: flex;
padding: 17px 205px 17px 32px;
align-items: center;
flex: 1 0 0;
align-self: stretch;
background: var(--light-grey, #F9F9F9);
border-radius: 12px 0px  0px 12px ;
}
.emailSignup .butt input:hover{
  border: 2px dotted rgb(121, 121, 148);
}

.emailSignup .butt button{
  border: none;
width: 120px;
align-items: flex-start;
background-color: #2A254B;
border: none;
color: white;
border-radius: 0px 12px 12px 0px;
}
.emailSignup .butt button:hover{
  opacity:0.7 ;
  transition: 0.5s;
}



.email{
  background-color:#F7F7F7;
}
footer{
  background: var(--dark-primary, #2A254B);

}

.lastsection .textContiner p{
  color: #505977;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mainFooter{
  display: flex;
  justify-content: space-between;
  margin: 3rem;
  color: white;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding: 3rem 2rem 0rem 0rem;
  margin-left: 0rem;
  margin: 3rem;
}
.mainFooter .fg h1{
  color: var(--white, #FFF);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.fg{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0rem;


}
.menuburger{
  display: none;
}
.fg ul{ 
  list-style-type:none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}
.fg h4{
  color: var(--white, #FFF);

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hk input{
  border: none;
  display: flex;
padding: 17px 360px 17px 32px;
align-items: center;
flex: 1 0 0;
align-self: stretch;
background: rgba(255, 255, 255, 0.15);
color: white;
border-radius: 12px 0px  0px 12px ;
}
.hk button{
  display: flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
background: var(--white, #FFF);
border-radius: 0px 12px 12px 0px;
border: none;

}
.butt{
  display: flex;
}
hr{
  
    width: 93%;
}
.footer{
  
  margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.footer .icon{
  margin-right: 3rem;
  margin-left:3rem ;
}
a{
  text-decoration: none;
  color: #505977;
}
@media (max-width:429px) {
  .emailSignup .butt {
    position: relative;
    right: 5rem;
}
  .menuburger{
    display: block;
  }
  .bottomNav{
    display: none;
  }
  .image img
    {
      margin: -2rem;
      margin-top: 0rem;
      width: 117%;
  
  }
  .imgLeft{
    display: flex;
    flex-direction:column;
  }
  .imgLeft .textContiner h1 {
    color: #2A254B;
    font-size: 29px;
    font-weight: 400;
    
    margin-top: 3rem;
    color: var(--dark-primary, #2A254B);

/* Headings / H3 */
font-size: 24px;
}
.ddd{
  display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.ddd button{
  border-radius: 5rem;
}
.button{
  left: 30%;
}
.features .itemFeautures {
  width: 47%;
}
.email{
  background-color: white;
}
.emailSignup {
   
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 6rem;
    margin-top: 2rem;
    width: auto;
    margin-left: 0rem;
    margin-right: auto;
    border: none;
    margin-bottom: -5rem;
}
.emailSignup .butt input {
  border: none;
  display: flex;
  padding: 17px 25px 17px 16px;
    align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--light-grey, #F9F9F9);
  border-radius: 12px 0px 0px 12px;
}
.lastsection{
  
  display: flex;
  flex-direction: column;
  margin-left: -2rem;

}
.lastsection .textContiner button {
  border: none;
  display: flex;
  padding: 18px 69px 22px 64px;
  align-items: flex-start;
  gap: 11px;}
  .imgcontiner img{
    margin-top: -2rem;
    width: 267px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .mainFooter{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .fg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: -webkit-left;
    gap: 0rem;
    width: 42%;
}
  .hk{

padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 0px 12px 12px 0px;
border: none;

  }
  .hk input{
    border: none;
    display: flex;
    padding: 13px 24px 17px 7px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    border-radius: 12px 0px 0px 12px;

  }


  
}
@media (max-width:1116px) {
  .bottomNav{
    display: none;
  }
  .menuburger{
    display: block;
  }
  .imgLeft{
    display: flex;
    flex-direction:column;
  }
  .image img{
    width: 100%;
  }
  .ddd{
    align-items: baseline;
  }
  footer{
    margin-right: -5rem;
  }
  .butt{
    width: 30px;
  }
  .butt input{
    padding: 0px;
  }
  .butt input button{
    padding: 0px;
    position: relative;
  }
  .email{
    background-color: white;
  }
  .emailSignup {
     
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 6rem;
      margin-top: 2rem;
      width: auto;
      margin-left: 0rem;
      margin-right: auto;
      border: none;
      margin-bottom: -5rem;
  }
  
.emailSignup .butt input {
    border: none;
    display: flex;
    padding: 17px 27px 17px 39px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--light-grey, #F9F9F9);
    border-radius: 12px 0px 0px 12px;
}
  .lastsection{
    
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
  
  }
  .lastsection .textContiner button {
    border: none;
    display: flex;
    padding: 18px 69px 22px 64px;
    align-items: flex-start;
    gap: 11px;}
    .imgcontiner img{
      margin-top: -2rem;
      width: 267px;
      margin-left: 3rem;
      margin-right: 3rem;
    }
    .emailSignup .butt button {
      border: none;
      width: 3rem;
      background-color: #2A254B;
      border: none;
      color: white;
      border-radius: 0px 12px 12px 0px;
      padding: 0rem 3rem 0rem 1rem;
  }

  
}
@media (max-width:619px) {
  .mainFooter{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  
}